.navBar {
  display: flex;
  height: 50px;
  width: 100%;
  position: absolute;
  justify-content: space-around;
  align-items: center;
}

.navOpen {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 111, 41);
  flex-direction: column;
  align-items: center;
}

.navLink {
  display: flex;
  font-size: 2em;
  font-weight: 400;
  color: #f1f1f1;
  padding-top: 80px;
}

.navLink:hover {
  cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.logoImage {
  height: 80px;
  margin-right: 50px;
}

.logoText {
  color: #f1f1f1;
  font-weight: 500;
}

.menuIcon {
  cursor: pointer;
  color: #f1f1f1;
}

@media (min-width: 800px) {
  .logoText {
    font-size: 1.5em;
  }
  .navBar {
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
  }
  .linksContainer {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .navLink {
    font-weight: 500;
    padding-top: 4px;
    font-size: 1.2em;
    transition: transform 0.3s ease;
  }
  .navLink:hover {
    transform: scale(1.1);
  }

  .navOnScroll {
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
    background-color: rgb(18, 83, 30);
  }
}

.navOnScroll {
  display: flex;
  height: 50px;
  width: 100%;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(18, 83, 30);
}

.SignLink {
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  color: #f1f1f1;
  background-color: rgb(80, 179, 80);
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.SignLink:hover {
  padding: 10px;
}
