.cursos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, rgb(8, 14, 5), rgb(44, 101, 44));
  padding: 20px;
}

.cursosOracion {
  padding-top: 100px;
  margin-right: 950px;
  color: #f1f1f2;
  font-size: 1.3em;
  font-weight: 600;
}

.cursoDescription {
  color: #080404;
  font-size: 1.6em;
  font-weight: 400;
  text-align: center;
  margin-bottom: 100px;
}

.cursosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px; /* Redujo el espacio entre las tarjetas */
}

.cursoCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px; /* Redujo el ancho de las tarjetas */
  transition: transform 0.3s ease;
}

.cursoCard:hover {
  transform: scale(1.05);
}

.cursoImagen {
  width: 100%;
  height: 150px; 
  object-fit: cover;
}

.cursoContent {
  padding: 15px; 
}

.cursoContent h3 {
  font-size: 1em; 
  margin-bottom: 10px;
}

.cursoContent p {
  font-size: 0.9em; 
  margin-bottom: 10px; 
}

.cursoDetails {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em; 
  color: #0e0404;
}

.searchContainer { /* <-- Agregado contenedor de búsqueda */
  margin-top: 130px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchLabel { /* <-- Agregado etiqueta de búsqueda */
  color: #f1f1f1;
  font-size: 1.5em;
  margin-right: 15px; /* Espacio entre el texto y el input */
}

.searchInput { /* <-- Agregado input de búsqueda */
  width: 40%;
  padding: 10px; /* Incrementado padding */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}