.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(8, 14, 5), rgb(44, 101, 44));
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    color: #f1f1f1;
    
}

.loginContainer {
    background-color: rgba(255, 255, 255, 0.1); 
    padding: 20px; 
    border: 2px solid #f1f1f1; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 400px;
}

.login h1 {
    font-size: 36px;
    text-align: center;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.inputBox input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #f1f1f1;
    padding: 0 20px; /* Para añadir espacio interno a los inputs */
    box-sizing: border-box;
}

.inputBox input::placeholder {
    color: #f1f1f1;
}

.icon {
    position: absolute;
    right: 20px;
    top: 50%; /* Para centrar verticalmente el ícono */
    transform: translateY(-50%);
    font-size: 17px;
}

.rememberMe {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.rememberMe label input {
    margin-top: 15px;
}

.rememberMe a {
    color: #f1f1f1;
    text-decoration: none;
    margin-top: 15px;
}

.rememberMe a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 700;
}

.register {
    font-size: 14.5px;
    text-align: center;
    margin: 20px;
}

.register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}
